name: Infra-Pipeline

on:
  push:
    branches: [main]
    paths:
      - "terraform/**"
      - "ansible/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  validate_and_lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Terraform init
        run: terraform -chdir=terraform init

      - name: Terraform fmt
        run: terraform -chdir=terraform fmt -check

      - name: Terraform validate
        run: terraform -chdir=terraform validate

      - name: YAML lint
        run: yamllint ansible/

  deploy:
    runs-on: self-hosted
    needs: validate_and_lint
    steps:
      - uses: actions/checkout@v3

      - name: Create SSH key file for Terraform
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ssh_public_key }}" > ~/.ssh/student.pub
          echo "${{ secrets.ssh_private_key }}" > ~/.ssh/student
          chmod 600 ~/.ssh/student ~/.ssh/student.pub

      - name: Terraform init
        run: terraform -chdir=terraform init

      - name: Terraform apply
        run: |
          terraform -chdir=terraform apply -auto-approve \
            -var "esxi_mngmt_user=${{ secrets.ESXI_MNGMT_USER }}" \
            -var "esxi_mngmt_password=${{ secrets.ESXI_MNGMT_PASSWORD }}" \
            -var "azure_mngmt_subscription_id=${{ secrets.AZURE_MNGMT_SUBSCRIPTION_ID }}" \
            -var "ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}" \
            -var "ssh_private_key='${{ secrets.SSH_PRIVATE_KEY }}'"

      - name: Wait for VMs to boot
        run: sleep 30

      - name: Accept SSH host keys automatically
        run: |
          ssh-keyscan -H $(terraform -chdir=terraform output -raw azure_ip) >> ~/.ssh/known_hosts
          ssh-keyscan -H $(terraform -chdir=terraform output -raw esxi_ip) >> ~/.ssh/known_hosts

      - name: Run Ansible
        working-directory: ansible
        env:
          ANSIBLE_CONFIG: ansible.cfg
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: ansible-playbook -i inventory.ini playbooks/deploy.yml
